/src/TPPDekuBot/BattleBotRunner.java
/build/
/src/TPPDekuBot/Test.java
*.wdu
/src/TPPDekuBot/PokemonImporter.java
nbproject/private/private.xml
/nbproject/
nbproject/
nbproject/project.properties
nbproject/private/private.properties
nbproject/genfiles.properties
nbproject/build-impl.xml
/src/TPPDekuBot/MoveExporter.java
/dist/